body {
  font-family: Arial;
  background-color: #f0f0f0;
}

.box {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 100px auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}


h2 {
  text-align: center;
  margin-bottom: 15px;
}


.input-area {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.input-area input {
  flex: 1;
  padding: 6px;
}

.input-area button {
  padding: 6px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;   
}


li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  text-align: left;   
}

.completed {
  text-decoration: line-through;
  color: gray;
}